---
/**
 * Props:
 * - title: string
 * - description?: string
 * - image?: string (og)
 * - noindex?: boolean
 */
interface Props {
  title?: string;
  description?: string;
  image?: string;
  noindex?: boolean;
}
const { 
    title = "Badr Choubai",
    description, 
    image, 
    noindex = false
} = Astro.props;
---

<!-- Page title -->
<title>{title}</title>
<!-- Slot for extra tags -->
<slot />

<!-- Metadata -->
<meta name="description" content={description} />
{noindex && <meta name="robots" content="noindex,nofollow" />}

<!-- Icons -->
<link rel="icon" href="/favicon.ico" sizes="any" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="manifest" href="/site.webmanifest" />
<meta name="theme-color" content="#444444" />

<!-- OpenGraph -->
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />
<meta property="og:type" content="website" />

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image} />
